ul{
    list-style-type: none;
    margin: 0;
    padding-right: 175px;
    padding-top: 30px;
}

.tabs{
    float: right;

    font-family: 'Habibi';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;

    color: #CBE0FF;
    padding: 40pX;

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.tabs:hover, .tabs:focus, .tabs:active {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

body{
    background-image: url('background.svg');
    background-repeat: no-repeat;
    background-size: 100%;

}

.head1{
    font-family: 'Habibi';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 100px;

    color: #CBE0FF;
}

.descrip{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    max-width: 750px;


    color: #CBE0FF;
    padding-top: 3%;
}

#block{
    padding: 13%;
}


hr{
    border-color: #CBE0FF;
}