#navbar{
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 100;
}


ul{
    padding-right: 6%;
    padding-top: 4%;
}

.tabs{
    float: right;
    font-family: 'Habibi';
    font-style: normal;
    font-weight: 400;
    font-size: 150%;
    line-height: 38px;
    color: #CBE0FF;
    padding-left: 4%;

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.tabs:hover, .tabs:focus, .tabs:active {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

body{
    background-color: #060A1E;
    background-size: 100%;
    background-image: url('/assets/gradients.svg');
    background-repeat: no-repeat;

}

#intro{
    font-family: 'Habibi';
    font-style: normal;
    font-weight: 400;
    font-size: 500%;
    line-height: 100px;

    color: #CBE0FF;
}

.descrip{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    max-width: 750px;


    color: #CBE0FF;
    padding-top: 3%;
}

.subheading{
    font-family: 'Habibi';
    font-style: normal;
    font-weight: 400;
    font-size: 350%;
    max-width: 475px;

    color: #CBE0FF;
}

.subdescription{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    max-width: 475px;

    color: #CBE0FF;
}

.subdoc{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    max-width: 475px;
    float: right;
    padding-top: 25px;

    color: #CBE0FF;
}

.block{
    padding: 13%;
}

.vl{
  border-left: 1px solid #CBE0FF;
  height: 150px;
  left: 525px;
  margin-top: 18px;
  float: right;
}

.num{
    font-family: 'Nunito';
    font-size: 30px;
    padding: 58px;
}

.gifs{
    position: absolute;
    width: 15%;
    padding-left: 60%;
    padding-top: 6%;
}

#mainpagebreak{
    padding-top: 85px;
}

hr{
    border-color: #CBE0FF;
}